<div class="d-flex justify-content-between align-items-center mb-5">
<h3 class='m-0'>Notebooks</h3>
<div>
<a href="<%= new_notebook_path %>" class="btn btn-sm btn-primary">
<i class="bi bi-plus-square mr-1"></i>
New notebook
</a>
</div>
</div>

<div class="row mb-3">
  <% @notebooks.each do |notebook| %>
    <div class="col-md-4">
      <div class="card notebook-card mb-3 bg-light">
        <div class="card-body">
          <div class="card-title d-flex justify-content-between m-0">
            <%= link_to notebook do %>
            <h5><%= notebook.title %></h5>
            <% end %>
            <div>
            <a href='<%= edit_notebook_path(notebook) %>' class='mr-1 text-secondary'><i class='bi bi-pencil-square'></i></a>
            <a href='<%= notebook %>' data-method='delete' data-confirm='Are you sure?' class='text-danger ml-auto'><i class='bi bi-x-octagon'></i></a>
            </div>
          </div>
          <div class="stats mb-3">
          <p><%= notebook.pages.count %> pages</p>
          <p class='started'>Started <%= time_ago_in_words(notebook.created_at) %> ago.</p>
          </div>
          <%= link_to  "View", notebook, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>






<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @notebooks.each do |notebook| %>
      <tr>
        <td><%= link_to notebook.title , notebook %></td>
        <td><%= link_to 'Edit', edit_notebook_path(notebook) %></td>
        <td><%= link_to 'Destroy', notebook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
